body {
    background-color: black;
}
div{
    display: block;
}

#content{
    background: darkgray;
    float: left;
    width: 880px; /*idk if i like this*/
    padding-top: 25px;
    padding-left: 15px;
}

.post{
    margin-bottom: 25px;
}
.post .entry{
    background: lightgray;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
}
