body {
    background-color: black;
<<<<<<< HEAD
    background-image: url(Images/MoonV3.jpg)
=======
    
>>>>>>> a5356034092fe1ae294b3a01126fdf9905c136b0
}
div{
    display: block;
}
header{
    display: block;
    width: 910px;
    height: 45px;
    background: darkgrey;
}
hr{
    width: 910px;
    float: left;
}
nav{
    float: left;
    height: 35px;
}
nav a{
    height: 35px;
    display: block;
    float: left;
    padding: 10px 15px 0px 15px;
    border-right: 5px solid lightgray;
}
nav a:link{
    text-decoration: none;
    color: black;
}
nav a:visited{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: none;
    color:darkslategray;
}


#content{
    background: darkgray;
    /* float: left; */
    /* width: 80%; */
    display: inline-block;
    /*idk if i like this*/
    width: 880px; 
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#slideShowStart{
    display: block;
}

.moon{
    /* float: right; */
    width: (100% - 880px);
    display: inline-block;
    height: 1070px;
    object-fit: fill;
}


.post{
    margin-bottom: 25px;
}
.post .entry{
    background: lightgray;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 20px; 
    border-radius: 5px;
}
.entry p{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px; 
    margin:5px;  
}

.slide{
    display: none;
}

.image{
    max-height: 355px;
    min-height: 350px;
    max-width: 871px;
    min-width: 870px;
    margin-top: 5px;
}

.entry a:link{
    text-decoration: none;
    color: black;
}
.entry a:visited{
    text-decoration: none;
    color: black;
}